*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* top headr */

.top-header{
    background: #5bc1ac;
    padding-top: 8px;
    color: #fff;
}
.top-header .social-icn{
    text-align: right;
}
.top-header .social-icn li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.top-header .social-icn li a{
    background: transparent;
    width: inherit;
    height: inherit;
    line-height: inherit;
    margin-right: 15px;
    color: #fff;
}

/* navbar */

.navbar .navbar-brand img{
    width: 80px;
    height: auto;
}
.navbar-brand span {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
}
.navbar-brand small {
    color: var(--secondary-color);
    display: block;
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
}

.navbar-nav .btn3{
    font-size: 14px;
    color: #22b3c1;
    background-color: transparent;
    border: 1px solid #22b3c1;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 20px;
    font-weight: 500;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}


.navbar-nav .btn3:hover{
    background: #22b3c1;
    color: #fff;
}


/* hero section */

#hero-section .carousel-caption {
    background: #fff;
    clip-path: polygon(100% 100%, 100% 150px, 0 100%);
    color: #000;
    top: 1px;
    bottom: -1px;
    right: 0;
    left: auto;
    text-align: right;
    min-width: 680px;
    min-height: 680px;
    padding: 100px 100px 50px 100px;
}

@media screen and (max-width:991px){
    #hero-section .carousel-caption {
        clip-path: polygon(100% 100%, 100% 100px, 0 100%);
        padding-right: 80px;
        min-width: inherit;
        min-height: inherit;
    } 
}


#hero-section .carousel-item {
    height: 680px;
} 
@media screen and (max-width:991px){
    #hero-section .carousel-item {
        height: inherit;
    } 
}

#hero-slide .carousel-image {
    height: 100%;
    object-fit: cover;
}

#hero-section .carousel-caption h1{
    font-size: 52px;
    font-weight: 700;
    color: #5a6f80;
}

#hero-section .carousel-caption p{
    font-size: 16px;
    color: #717275;
}


/* hover img */

.section-padding .ttile{
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
   
}

.navbar-brand small {
    color: var(--secondary-color);
    
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
}
.section-padding strong {
    font-weight: bold;
}
.section-padding .img-cntent{
    padding: 15px;
    transition: all .5s;
}
.section-padding .img-cntent:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.section-padding .img-cntent img{
    transition: all .5s;
}
.section-padding .img-cntent:hover img{
    transform: scale(0.7);
}

.section-padding .img-cntent:hover .ttile{
   transition: all .5s;
}
.section-padding .img-cntent:hover .ttile{
    transform: translate(0px, -8px);
}


/* about section */

.about-section{
    padding: 100px 0;
    background-color: #f0f8ff;
}
.about-section .lft-img img{
    border-radius:20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section .myslf{
    background: #fff;
    border-radius: 20px;
    padding: 40px;
}
.about-section .myslf h2{
    font-size: 46px;
    color: #5a6f80;
    font-weight: bold;
    margin: 0;
}

.about-section .myslf h5{
  font-size: 20px;
  color: #22b3c1;
}
.about-section .myslf p{
    font-size: 16px;
    color: #717275;
}
.about-section .myslf h2{
    color: #22b3c1;
}

/* about section2 */

 .about-section2{
    padding: 100px 0;
}
.about-section2 img{
    border-radius: 20px;
    display: block;
    width: 350px;
    height: 400px;
    object-fit: cover;
}

.about-section2 .cstom-content{
    padding: 60px 40px;
}
.about-section2 .cstom-content h2{
    color: #5a6f80;
    font-size: 46px;

}

.about-section2 .social-icn a {
    display: block;
    height: 35px;
    width: 35px;
    background: #5a6f80;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    color: #fff;
    transition: all .5s;
}
.about-section2 .social-icn i{
    font-size: 18px;
}
.about-section2 .social-icn a:hover{
    background: #22b3c1;
}


/* about section 3 */

.about-section3{
    background: #f0f8ff;
    padding: 100px 0;
}

.about-section3 h2{
    font-size: 42px;
    color: #5a6f80;
}
.about-section3 a{
    text-decoration: none;
    color: #5a6f80;
}
.about-section3 .btn4{
    padding: 15px 25px;
    background: #5a6f80;
    transition: all .5s;
    border-radius: 20px;
    color: #fff !important;
}
.about-section3 .btn4:hover{
     background: #22b3c1;
}


/* section4 */


.about-section4{
    padding: 100px 0;
}
.about-section4 .cstom-txt{
    padding: 0 
    30px 30px ;
}
.about-section4 .cstom-txt h5{
    font-size: 24px;
    color: #22b3c1;
}

.about-section4 .pic{
    border-radius: 20px;
    transition: all .5s;

}

.about-section4 .pic:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-section4 .pic img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.bton{
    background: #44525d;
    border: 2px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #f0f8ff;
    width: 100%;
    transition: all .5s;
    padding: 10px 25px;
}
.bton a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.bton:hover{
    background: #22b3c1;
    color: #fff;
}

/* 
.navbar-nav .btn3{
    font-size: 14px;
    color: #22b3c1;
    background-color: transparent;
    border: 1px solid #22b3c1;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 20px;
    font-weight: 500;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}


.navbar-nav .btn3:hover{
    background: #22b3c1;
    color: #fff;
} */